.cart-container {
    font-family: 'Raleway';

    width: 1098px;

    margin: auto;
    margin-top: 80px;


    h1 {
        padding-bottom: 59px;
        font-weight: 700;
    }

    .cart-big-item {
        display: flex;
        justify-content: space-between;

        padding: 20px 0;

        border-top: 1px solid #E5E5E5;

        .cart-big-item-left {

            h1 {
                font-size: 30px;
                width: 292px;
                margin-bottom: 12px;
                padding: 0;
            }

            .attribute-title {
                margin-top: 15px;
                font-size: 25px;
                font-family: "Roboto Condensed";
            }
        }

        .cart-big-item-right {
            display: flex;

            .cart-big-item-right-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    border: 1px solid #1D1F22;
                    background-color: white;
                    font-size: 30px;
                    cursor: pointer;
                }

                p {
                    text-align: center;
                    font-family: 'Raleway';
                    font-weight: 500;
                    font-size: 24px;
                }
            }

            .sjfhslw {
                display: flex;

                img {
                    width: 200px;
                    height: 288px;
                    margin: auto;
                    margin-left: 24px;
                    object-fit: contain;
                    object-position: center;
                }

                .image-caret {
                    position: absolute;
                    margin-top: 248px;
                    cursor: pointer;
                }

                .image-caret-left {
                    margin-left: 152px;
                }

                .image-caret-right {
                    margin-left: 184px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    .h1-total {
        margin-top: 20px;
        padding-top: 30px;

        border-top: 1px solid #E5E5E5;

        h2 {
            margin-bottom: 8px;

            span {
                font-weight: 400;
            }
        }

        h1 {
            margin-top: 24px;
            padding-bottom: 0;
        }
    }

    .cart-order {
        margin-top: 16px;
        margin-bottom: 100px;
        width: 279px;
        height: 43px;
        border: none;
        background-color: #5ECE7B;
        color: #FFFFFF;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

}