.currency {
    position: relative;

    flex: 1;

    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;

    display: flex;

    cursor: pointer;

    .dropdown-icon {
        height: 50%;
        margin-left: 10px;
    }

    .currency__content {
        display: block;
        filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));

        box-sizing: content-box;

        /* Position it right below the trigger element */
        left: -20px;
        padding-top: 20px;

        position: absolute;
        top: 100%;

        /* It should be on the top of other elements */
        background-color: #fff;
        z-index: 9999;

        /* Size */
        // width: 54px;




        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            // width: fit-content;

            li {
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 40px;
                width: max-content;
            }

            li:hover {
                opacity: 0.5;
            }
        }
    }
}